.chat-side
  .chat-side__user
    .chat-side__name
      =current_user.name
    =link_to new_group_path, class: "chat-side__user--new-group" do
      %i.chat-side--fa.fa.fa-pencil-square-o.fa-small
    =link_to edit_user_path(current_user), class: "chat-side__user--edit-user" do
      %i.chat-side--fa.fa.fa-cog.fa-small
    .chat-side__groups
  .chat-side__group
    .chat-side__group__chat
    - @group.each do |grp|
      .chat-side__group__name
        =link_to group_messages_path(grp.id) do
          =grp.name
      .chat-side__group__name__chat
        =grp.messages.last.try(:detail)

/ 画面右側
.main-side
  .main-side__header
    .main-side__header--group
      =@group_name
    =link_to "edit", edit_group_path(params[:group_id]), class: "main-side__header--group--edit-btn"
    .main-side__body
      .main-side__header--members
        Member:
        - @group_member.each do |member|
          =member.name
      .main-side__body__message-list
        - @message.each do |msg|
          .main-side__body__message.clearfix
            .main-side__message-name
            ="#{msg.user.name}"
            .main-side__message-time
            =msg.created_at.strftime("%Y-%m-%d %H:%M:%S")
            .main-side__message-body
              = msg.detail
              = msg.image.url
              = image_tag "#{msg.image.url}"
    .main-side__footer
      = form_for([@current_group, @current_message], html: { class: "main-side__footer-form"}) do |f|
        .main-side__footer-body
          = f.text_field :detail, {id: "message_body", class: "message"}
          = f.label :image, {for: "message_image", class: "chat-file"} do
            = f.file_field :image, { id: "message_image", class: "image", }
            %i.fa.fa-file-image-o.fa-small
          = f.submit "Send", {class: "submit"}
